* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    height: 70px;
    background: violet;
    padding: 0 10%;
}

.collection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.item {
    list-style: none;
    color: #fff;
}

.item:first-child {
    color: red;
}

.tem:last-child {
    color: blue;
}

.item:nth-child(2) {
    column-rule: gold;
}

.item:nth-child(5)>button {
    background: red;
}

.parent {
    border: 1px solid blue;
}

/* > only children */
.parent>p {
    color: red;
}

/* + first neighbor */
/* + ~ neighbor */
.parent~p {
    color: green;
}

.toggle {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background: #ddd;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

#input__toggle {
    display: none;
}

.circle {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    transition: .25s;
}

#input__toggle:checked+.toggle {
    background: dodgerblue;
}

#input__toggle:checked+.toggle>.circle {
    transform: translateX(40px);
}

.btn {
    width: 150px;
    padding: 10px 24px;
    border-radius: 6px;
    border: 1px solid dodgerblue;
    background: dodgerblue;
    color: #fff;
}

.btn:hover {
    background: blue;
    cursor: pointer;
}

.btn:active {
    transform: scale(.95);
    opacity: .7;
}

.inp {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.inp:focus {
    outline: 2px solid #edb5b5;
    background: #edb5b5;
}

.btn:disabled {
    opacity: .7s;
    cursor: no-drop;
}

.btn:disabled:hover {
    background: dodgerblue;
}

.btn:disabled:active {
    transform: scale(1);
}